<article>
  <header>
    <h1>
      Марк Цукерберг выступил с речью о том, как важна свобода слова
      <span>В ней он зачем-то переписал историю создания Facebook</span>
    </h1>
    <time datetime="2019-10-18" published>23:40, 18 октября 2019</time>
  </header>
  <p class="annotation">
    17 октября глава Facebook Марк Цукерберг выступил с <a href="#">речью</a> в Университете Джорджтауна.
    Он говорил почти 40 минут — о важности свободы самовыражения, опасности китайской цензуры,
    политической рекламе и распространении недостоверной информации.
    Выступление Цукерберга раскритиковали журналисты и простые пользователи.
    Вот основные претензии.
  </p>
  <h2>
    Цукерберг переписал историю создания Facebook
  </h2>
  <p>
    В своей речи Цукерберг связал создание соцсети с началом вторжения американских войск в Ирак в 2003 году.
    По его словам, многие точки зрения, которые могли бы повлиять на решение властей, не были услышаны.
  </p>
  <p>
    «Я помню, как почувствовал, что если бы большее количество людей могли поделиться своим мнением,
    многое могло пойти по-другому. Эти годы сформировали мою убежденность в том, что если дать голос каждому,
    то слабые обретут силу, а общество станет лучше. <…> Мой опыт работы над ранней версией Facebook научил меня тому,
    что несмотря на сосредоточенность мира на главных событиях и властных структурах,
    сильнее всего наши жизни улучшают обычные люди, получающие возможность быть услышанными.
    С тех пор я сосредоточился на двух вещах: давать людям голос и объединять их».
  </p>
  <p>
    Журналисты обратили внимание на то, что история создания «ранней версии Facebook»,
    представленная в ходе выступления, разительно отличается от общеизвестной. В 2003 году Цукерберг,
    будучи студентом Гарварда, создал сайт facemash.com — прототип Facebook.
    Пользователям сервиса предлагалось выбрать наиболее привлекательного студента.
    Фотографии публиковались парами, и впоследствии составлялся общий рейтинг самых красивых студентов.
    Чтобы получить снимки, Цукерберг взломал сайты девяти факультетов.
    Правление университета решило не отчислять Цукерберга.
  </p>
  <h2>
    Студентам нельзя было задавать вопросы
  </h2>
  <p>
    Студентам, которые пришли послушать речь о свободе слова, запретили задавать Цукербергу вопросы.
    Об этом сообщил один из присутствовавших студентов факультета журналистики Джорджтауна.
    По словам журналистки Кары Суишер из издания Recode, вопросы отобрали заранее.
    «Как бы свобода слова», — пишет Суишер. При этом, как она отмечает, нет оснований считать,
    что это было решение самого Цукерберга.
  </p>
  <h2>
    Дочь Мартина Лютера Кинга осудила подход соцсети к модерации политической рекламы
  </h2>
  <p>
    В своей речи Цукерберг значительное внимание уделил вопросу заведомо ложной политической рекламы.
    Он пояснил, что в Facebook решили не запрещать ее, так как такой запрет давал бы преимущества традиционным политикам.
    «Я не думаю, что частной компании будет правильно цензурировать политиков или новости в демократической стране»,
    — сказал Цукерберг. В качестве примера в защиту этой позиции он привел
    <span data-title="The New York Times против Салливана"
          data-body="&lt;p&gt;В 1960 году в The New York Times была опубликована рекламная статья сторонников Мартина Лютера Кинга,
          в которой содержалась критика полиции штата Алабама за ее действия при разгонах мирных акций.
          Из-за большого количества фактологических ошибок полиция подала иск о клевете, но Верховный суд счел,
          что неточности в описаниях действий госслужащих, если они сделаны журналистами не злонамеренно,
          не могут быть основанием для удовлетворения иска. Это решение стало знаковым для США,
          так как значительно снизило возможность чиновников подавать такие иски для подавления политической критики. &lt;/p&gt;"
          class="foot-note-link">
      судебный процесс 1964 года</span>,
    когда Верховный суд США отказался считать клеветой в адрес полиции статью The New York Times в поддержку Мартина Лютера Кинга,
    несмотря на то что она содержала большое количество фактологических ошибок.
  </p>
  <p>

  </p>
  <footer>

  </footer>
</article>
