@import "./assets/style/index.css";
:root {
  --offset: 60px;
  --width: 100%;
  --columns: 6;
  --gutter: 0px;
  --baseline: 24px;
  --line-thickness: 1px;

  --color: hsla(204, 80%, 72%, 0.25);
  --color-text: hsla(204, 80%, 72%, 1);
  --background-color: rgba(18,18,18,1);
  --background-color-0: rgba(18,18,18,0);
}
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right, var(--color), var(--color) var(--line-thickness),
    transparent var(--line-thickness),
    transparent calc(var(--column-width) - var(--line-thickness)),
    var(--color) calc(var(--column-width) - var(--line-thickness)),
    var(--color) var(--column-width),
    transparent 1px, transparent var(--repeating-width)
  );
  --bg-gradradial: radial-gradient(
    circle farthest-corner at 30% 30%, rgb(28,28,28), var(--background-color)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom, var(--color), var(--color) 1px,
    transparent 1px, transparent var(--baseline)
  );
  --background-dargness: linear-gradient(
    to bottom,
    var(--background-color) 0%, var(--background-color-0) 3%,
    var(--background-color-0) 85%, var(--background-color) 99%
  );
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  background-image: var(--bg-gradradial);
}

/*app-root > section::before {
  position: absolute;
  left: 0; top: 0px; right: 0; bottom: 0;
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  content: '';
  background-image: var(--background-dargness);
}*/

/* Grid lines */
/*
body::before {
  position: absolute;
  left: 0; top: 24px; right: 0; bottom: 0;
  margin: var(--header-height) auto var(--footer-height) auto;
  width: calc(100% - (2 * var(--offset)));
  height: calc(100% - (var(--header-height) + var(--footer-height)));
  content: '';
  background-image: var(--background-columns), var(--background-baseline);
  background-size: var(--background-width) 100%;
  background-position: 0 0;
  pointer-events: none;
}
/**/